<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-container">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", autofocus: true %>
  </div>
  <div class="input-container">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", autofocus: true, rows: 5 %>
  </div>
  <div class="input-container">
    <%= form.label :year_of_release %>
    <%= form.number_field :year_of_release, class: "form-control", autofocus: true %>
  </div>
  <% if is_owner(@venue) %>
    <div class="check-container mt-4">
      <%= form.check_box :is_disabled %>
      <%= form.label :is_disabled, "Unavailable" %>
    </div>
    <div class="input-container">
      <%= form.label :disabled_reason, "Why unavailable?" %>
      <%= form.text_area :disabled_reason, class: "form-control", autofocus: true, rows: 5 %>
    </div>
  <% end %>

  <div class="custom-form-submission mt-4 screen-sm-only">
    <%= link_to 'Cancel', movies_path, class: "btn mr-1" %>
    <%= form.submit (), class: "btn btn-primary ml-1" %>
  </div>
  <div class="flex justify-end mt-4 _screen-md">
    <%= link_to 'Cancel', movies_path, class: "btn" %>
    <%= form.submit (), class: "btn btn-primary ml-2" %>
  </div>
<% end %>
