<%= form_with(model: venue) do |form| %>
  <% if venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
        <% venue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-container">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", autofocus: true %>
  </div>
  <div class="input-container">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", rows: 5 %>
  </div>
  <div class="input-container">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="custom-form-submission mt-4 screen-sm-only">
    <%= link_to 'Cancel', movies_path, class: "btn mr-1" %>
    <%= form.submit (), class: "btn btn-primary ml-1" %>
  </div>
  <div class="flex justify-end mt-4 _screen-md">
    <%= link_to 'Cancel', venues_path, class: "btn" %>
    <%= form.submit (), class: "btn btn-primary ml-2" %>
  </div>
<% end %>
