<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if get_selected_venue %>
        <%= t('app_title') %> at <%= get_selected_venue.name %>
      <% else %>
        <%= t('app_title') %>
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
    <% end %>

    <div class="page mb-4">
      <%= yield %>
    </div>

    <aside class="flash-alerts">
      <% flash.each do |type, value| %>
        <% t = get_flash_type(type) %>
        <div class="flash-alert flash-alert-<%= t %> show">
          <p class="mb-0">
            <%= value %>
          </p>
          <a href="#" class="btn-icon-simple btn-sm alert-close">
            <i class="fas fa-times"></i>
          </a>
        </div>
      <% end %>
    </aside>
  </body>
</html>
